{% extends 'base.html.twig' %}

{% block body %}
    <div style="margin-left:540px;width:200px;margin-top: 50px;height: 400px;padding-left: 16px;background-color: #5eb5e0;border-radius:30px;border:solid #000000" >
        <br><br>
        <h1 style="">TODO.COM</h1>
    {{ form(f) }}
        </table>
        <table>
            <tr><td>Copyright....</td></tr>
        </table>
</div>
{% endblock %}
